#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	mkdir -p linux/.cargo
	cp debian/cargo.config.toml linux/.cargo/config.toml
	dh_auto_build -- -C linux build
	dh_auto_build -- -C linux component
	dh_auto_build -- -C linux build-fcitx5

# There is a test expected to fail which is only ignored in the GitHub Actions
# workflow. Really, just don't bother running tests here.
override_dh_auto_test:
	true

override_dh_auto_install:
	dh_auto_install -- -C linux
